a:hover,
a:active {
  text-decoration: none;
}

input[type="text"],
select {
  outline: none;
}

.col-xs-1 {
  padding: 0;
}

h1 {
  font-family: "Arvo", sans-serif;
  color: #e35865;
}

header.container-fluid {
  background-color: #2a7ac2;
  box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.4);
  height: 100vh;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 720px;
  margin: auto;
  padding: 0 50px;
}

ul {
  padding: 0;
}

li {
  letter-spacing: 0;
  padding: 30px;
  list-style: none;
  min-height: 200px;
  background: #fff;
  text-align: left;
  transition: box-shadow 0.2s ease-out 0.2s;
}

li > p {
  color: white;
  line-height: 2;
}

input {
  padding: 0;
  border-radius: 0;
  border: none;
  font-size: 20px;
  color: white;
  background: none;
  letter-spacing: 1px;
  font-family: "Arvo", sans-serif;
  line-height: 25px;
}

button {
  background: none;
  border: none;
}

.form {
  padding: 10px 0;
  padding-right: 15px;
  border: 3px solid white;
}

.glyphicon {
  color: white;
  font-size: 20px;
  line-height: 25px;
}

.glyphicon-search {
  cursor: pointer;
}

.bar {
  vertical-align: super;
  font-weight: 700;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}

li:hover {
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.1);
}

::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

:-moz-placeholder {
  color: white;
  opacity: 1;
}

::-moz-placeholder {
  color: white;
  opacity: 1;
}

:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

#mainBody {
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 420px) {
  #searchBar,
  .glyphicon {
    font-size: 16px;
  }

  h1 {
    font-size: 28px;
  }
}

hr {
  border-top: 2px dashed #999;
}

h3 {
  font-size: 20px;
}

h3 span {
  font-variant: small-caps;
  font-size: 1.25em;
}

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

.full-width-card {
  width: 100%;
  background-color: #fff; /* White background for cards */
  border-radius: 5px; /* Slightly rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.result-table {
  width: 100%;
  table-layout: fixed;
}

.result-table th,
.result-table td {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.adjacent-paragraph {
  color: #666;
}

@media (max-width: 768px) {
  .result-table {
    font-size: 0.8em;
  }
}

#mainBody .text-center {
  margin-top: unset;
  margin-bottom: 10px;
  padding-top: 10px;
}

#mainBody > div {
  margin-bottom: 30px;
}

.table-responsive {
  overflow-x: unset;
  padding: 0 20px;
  padding-bottom: 3px;
}

h1 img {
  height: auto;
  width: 300px;
  margin-bottom: 20px;
}

.table-responsive table td,
.table-responsive table th {
  white-space: normal !important;
}

#searchBox {
  max-width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchBox input {
  text-overflow: ellipsis;
}

#searchBox > div {
  width: 30vw;
  min-width: 29rem;
}

#root {
  height: 100vh;
}

#root > div {
  height: 100vh;
}

header.container-fluid {
  width: 100vw;
  height: 100vh;
}
